<br>
<div class="row">
    <div class="container">
        <form [formGroup]="form">
            <div class="card">
                <div class="card-header" id="headingOne">

                
                <h5 class="mb-0">
                  <button class="btn btn " style="color:#037F8C; font-weight: bold;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Ajouter un propriétaire
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse hidden" aria-labelledby="headingOne" data-parent="#accordion">






                <div class="card-body">
                    <div class="row ">

                        <div class="form-group col-md-6">
                            <label for="nom">Nom : </label>
                            <input type="text" id="nom" class="form-control" formControlName="nom" />
                            <div *ngIf="form.get('nom').invalid && form.get('nom').touched">
                                <p *ngIf="form.get('nom').errors.required" style="color: red">Rentrez un nom</p>
                                <p *ngIf="form.get('nom').errors.minlength" style="color: red">Le nom doit contenir au
                                    minimum 2 caractères</p>
                                <p *ngIf="form.get('nom').errors.maxlength" style="color: red">Le nom doit contenir
                                    au
                                    maximum 20 caractères</p>
                            </div>
                        </div>
                    </div>
                    <div class="row ">

                        <div class="form-group col-md-6">
                            <label for="prenom">Prenom : </label>
                            <input type="text" class="form-control" id="prenom" formControlName="prenom" />
                            <div *ngIf="form.get('prenom').invalid && form.get('prenom').touched">
                                <p *ngIf="form.get('prenom').errors.required" style="color: red">Rentrez un prénom
                                </p>
                                <p *ngIf="form.get('prenom').errors.minlength" style="color: red">Le prénom doit
                                    contenir
                                    au minimum 2 caractères</p>
                                <p *ngIf="form.get('prenom').errors.maxlength" style="color: red">Le prénom doit
                                    contenir
                                    au maximum 20 caractères</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-6">
                        <label for="adresse">Adresse : </label>
                        <input type="text" class="form-control" id="adresse" formControlName="adresse" placeholder="N° de voie voirie code postal Ville"/>
                        <div *ngIf="form.get('adresse').invalid && form.get('adresse').touched">
                            <p *ngIf="form.get('adresse').errors.required" style="color: red">L'adresse est obligatoire
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="numeroTelephonePersonnel">Téléphone personel : </label>
                        <input type="text" class="form-control" id="numeroTelephonePersonnel" formControlName="numeroTelephonePersonnel" />
                        <div *ngIf="form.get('numeroTelephonePersonnel').invalid && form.get('numeroTelephonePersonnel').touched">
                            <p *ngIf="form.get('numeroTelephonePersonnel').errors.required" style="color: red">Le numéro de téléphone
                                personel est obligatoire
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="telephonePro">Téléphone professionel : </label>
                        <input type="text" class="form-control" id="telephonePro" formControlName="telephonePro" />
                        <div *ngIf="form.get('telephonePro').invalid && form.get('telephonePro').touched">
                            <p *ngIf="form.get('telephonePro').errors.required" style="color: red">Le numéro de téléphone
                                professionel est obligatoire
                            </p>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">

                        <input type="submit" class="btn" value="Valider" [disabled]="!form.valid" style="background-color:#F5CD56; border-radius: 20px" (click)="addProprietaire()"/>

                        &nbsp; <input type="submit" class="btn" value="Modifier" [disabled]="!form.valid" style="background-color:#037F8C; border-radius: 20px" (click)="updateProprietaire()"/>
                    </div>
                </div>
</div>
            </div>
    </div>
    </form>
</div>
</div>

<app-proprietaire-list></app-proprietaire-list>