<br>
<div class="row" *ngIf="proprietairesList.length>0"> 
    
  <div class="container">
    <div class="card">
      <div class="card-header" style="color:#037F8C; font-weight: bold;">Liste des propriétaires </div>
                 
      
      <div class="card-body">
        <table class="table">
          <thead class="thead-light">
            
            <th>Nom</th>
            <th>Prenom</th>
            <th>Adresse</th>
            <th>Telephone pro</th>
            <th>Telephone perso</th>
          </thead>
          <tr *ngFor="let p of proprietairesList;let i=index">
            <td> {{p.nom}}</td>
            <td>{{p.prenom}}</td>
            <td>{{p.adresse}}</td>
            <td>{{p.telephonePro}}</td>
            <td>{{p.numeroTelephonePersonnel}}</td>
            <td> <input type="submit" value="Editer" class="btn btn-warning" (click)="edit(p.id)"/></td>
            <td><input type="submit" value="Supprimer" class="btn btn-danger" (click)="delete(p.id,i)"/></td>
        

          </tr>
        </table>
      </div>
    </div>
    
  </div>
</div>