<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-header">Liste des Clients</div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Adresse</th>
                        <th>Numéro personnel</th>
                    </thead>
                    <tr *ngFor="let c of clientsList;let i=index">
                        <td> {{c.id}}</td>
                        <td>{{c.nom}}</td>
                        <td>{{c.prenom}}</td>
                        <td>{{c.adresse}}</td>
                        <td>{{c.numeroTelephonePersonnel}}</td>
                        <td><input type="submit" value="Edit" class="btn btn-warning"  (click)="edit(c.id)"></td>
                        <td><input type="submit" value="Delete" class="btn btn-danger" (click)="delete(c.id,i)"></td>
                    </tr>

                </table>

            </div>

        </div>

    </div>

</div>
