<br>
<div class="row" > 
    <!-- *ngIf="candidatsList.length>0" -->
  <div class="container">
    <div class="card">
      <div class="card-header" style="color:#037F8C; font-weight: bold;">Liste des rendez-vous </div>
                 
      
      <div class="card-body">
        <table class="table">
          <thead class="thead-light">
            
            <th>Numéro de visite</th>
            <th>Numéro de bien</th>
            <th>Date</th>
            <th>Heure</th>
            
          </thead>
          <!-- <tr *ngFor="let p of candidatsList;let i=index">
            <td> {{p.nom}}</td>
            <td>{{p.prenom}}</td>
            <td>{{p.adresse}}</td>
            <td>{{p.telpro}}</td>
            <td>{{p.telperso}}</td>
            <td> <input type="submit" value="Editer" class="btn btn-warning" (click)="edit(p.i)"/></td>
            <td><input type="submit" value="Supprimer" class="btn btn-danger" (click)="delete(p.i)"/></td> -->
        

          <!-- </tr> -->
        </table>
      </div>
    </div>
    
  </div>
</div>