<br>
<div class="row" *ngIf="rdvsList.length>0"> 
    
  <div class="container">
    <div class="card">
      <div class="card-header" style="color:#037F8C; font-weight: bold;">Liste des rendez-vous </div>
                 
      
      <div class="card-body">
        <table class="table">
          <thead class="thead-light">
            
            <th>Numéro de visite</th>
            <th>Numéro de bien</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Responsable de visite</th>
            
          </thead>
          <tr *ngFor="let r of rdvsList;let i=index">
            <td> {{r.idVisite}}</td>
            <td>{{r.bien}}</td>
            <td>{{r.dateVisite}}</td>
            <td>{{r.heure}}</td>
            <td>{{r.conseiller}}</td>
            <td> <input type="submit" value="Editer" class="btn btn-warning" (click)="edit(r.id)"/></td>
            <td><input type="submit" value="Supprimer" class="btn btn-danger" (click)="delete(r.id,i)"/></td> 
        

          </tr>
        </table>
      </div>
    </div>
    
  </div>
</div>