<br>
<div class="row" *ngIf="contratsList.length>0" > 
    
  <div class="container">
    <div class="card">
      <div class="card-header" style="color:#037F8C; font-weight: bold;">Liste des contrats </div>
                 
      
      <div class="card-body">
        <table class="table">
          <thead class="thead-light">
            
            <th>Type de contrat</th>
            <th>Référence du contrat</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
            <th>Contact</th>
            <th>Date d'achat</th>
            <th>Prix d'achat</th>
          </thead>
          <tr *ngFor="let c of contratsList;let i=index">
            <td> {{c.modeOffre}}</td>
            <td> {{c.referenceContrat}}</td>
            <td> {{c.nom}}</td>
            <td>{{c.prenom}}</td>
            <td>{{c.adresse}}</td>
            <td>{{c.numeroTelephonePersonnel}}</td>
            <td>{{c.dateAchat}}</td>
            <td>{{c.prixAchat}}</td>
            <td> <input type="submit" value="Editer" class="btn btn-warning" (click)="edit(c.id)"/></td>
            <td><input type="submit" value="Supprimer" class="btn btn-danger" (click)="delete(c.id, i)"/></td>
        

          </tr>
        </table>
      </div>
    </div>
    
  </div>
</div>
