<br>
<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-header">Bien immobiliers</div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <th>Id</th>
                        <th>Type</th>
                        <th>Date de soumission</th>
                        <th>Statut</th>
                        <th>Mode d'offre</th>
                        <th>Localisation</th>
                        <th>Revenue Cadastral</th>
                    </thead>
                    <!-- <tr *ngFor="let c of candidatsList;let i=index">
                        <td> {{c.id}}</td>
                        <td>{{c.nom}}</td>
                        <td>{{c.prenom}}</td>
                        <td>{{c.age}}</td>
                        <td><input type="submit" value="Edit" class="btn btn-warning" ></td>
                        <td><input type="submit" value="Delete" class="btn btn-danger"></td>
                    </tr> -->

                </table>

            </div>

        </div>

    </div>

</div>
