<br>
<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-header">Biens immobiliers</div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <th>Id</th>
                        <th>Type</th>
                        <th>Date de soumission</th>
                        <th>Statut</th>
                        <th>Mode d'offre</th>
                        <th>Localisation</th>
                        <th>Revenu Cadastral</th>
                    </thead>
                    <tr *ngFor="let b of BienList;let i=index">
                        <td> {{b.typeBien}}</td>
                        <td>{{b.dateSoumission}}</td>
                        <td>{{b.modeOffre}}</td>
                        <td>{{b.localisation}}</td>
                        <td>{{b.revenuCadastral}}</td>
                        <td><input type="submit" value="Edit" class="btn btn-warning" ></td>
                        <td><input type="submit" value="Delete" class="btn btn-danger"></td>
                    </tr>

                </table>

            </div>

        </div>

    </div>

</div>
