<div class="row">
    <div class="container">
        <form>
            <div  class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Ajouter un nouveau bien 
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse hidden" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="id">Id</label>
                            <input type="number" class="form-control" formControlName="id" />
                        </div>
                    </div>



                </div>

            </div>

        </form>

    </div>

</div>
