<br>
<div class="row">
    <div class="container">
        <form [formGroup]="form">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn" style="color:#037F8C; font-weight: bold;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Ajouter un nouveau bien
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse hidden" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">

                    <!-- <div class="row">
                        <div class="form-group col-md-6">
                            <label for="id">Id</label>
                            <input type="number" class="form-control" formControlName="id" />
                        </div>
                    </div><br> -->

                    <div class="row">
                        <div class="item">
                            <div class="form-group">
                                <label for="typeBien">Type :</label>
                                <br>
                                <select id="typeBien"  formControlName="typeBien">
                                    <option value="maison">Maison</option>
                                    <option value="appartement">Appartement</option>
                                    <option value="studio">Studio</option>
                                    <option value="entrepot">Entrepôt</option>
                                    <option value="emplacement">Emplacement</option>
                                    <option value="terrain">Terrain</option>
                                </select>
                            </div>
                        </div>
                        <div class="item">
                            <div class="form-group" >
                                <label for="dateSoumission">Date de soumission :</label>
                                <br>
                                <input type="date"  formControlName="dateSoumission"/>
                            </div>
                        </div>
                        <div class="item">
                            <div class="form-group">
                                <label for="statut">Statut :</label><br>
                                <label for="disponible">Disponible</label>
                                <input class="ecart" type="radio" id="disponible"  value="disponible" formControlName="statut">
                                
                                <label for="acheté">Acheté</label>
                                <input class="ecart" type="radio" id="acheté" value="acheté" formControlName="statut">
                                
                                <label for="loué">Loué</label>
                                <input class="ecart" type="radio" id="loué" value="loué" formControlName="statut">
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="modeOffre">Mode d'Offre :</label>
                            &nbsp;
                            <label for="àloué">A louer</label>
                            <input class="ecart" type="radio" id="àloué"  value="à loué" formControlName="modeOffre">
                            &nbsp;
                            <label for="àacheté">A acheter</label>
                            <input class="ecart" type="radio" id="àacheté" value="à acheté" formControlName="modeOffre">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="revenuCadastral">Revenu Cadastral :</label><br>
                            <div class="input-group">
                                <input type="number" step="0.1" class="form-control" aria-label="Amount (to the nearest dollar)" formControlName="revenuCadastral"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">&euro;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="localisation">Localisation</label><br>
                            <input type="text" class="form-control" formControlName="localisation"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="submit" class="btn btn-sucess" style="background-color:#F5CD56; border-radius: 20px;"
                                value="Ajouter" (click)="addBien()" />&nbsp;
                            <input type="submit" class="btn btn-sucess" style="background-color:#037F8C; border-radius: 20px;"
                                value="Modifier" (click)="updateBien()" />
                        </div>

                    </div>


                </div>

            </div>

        </form>

    </div>

</div>

<app-tableauimmo></app-tableauimmo>